#box1{
    width: 250px;
    height: 250px;
    background: rgb(47, 255, 57);
    font-size: 225px;
    text-align: center;
 
 
    animation: mySlide;
    animation-duration: 2s;
    animation-iteration-count: infinite;
 }
 
 
 @keyframes mySlide{
    from{margin-left: 100%}
    to{margin-left: 0%}
 }
 